<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="card metric-card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-users me-2"></i>Users amount
                    </h5>
                    <p class="card-text display-4">{{static.usersAmount}}</p>
                    <p class="card-text">Total count</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="card metric-card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-project-diagram me-2"></i>Active admins
                    </h5>
                    <p class="card-text display-4">{{activeAdmins}}</p>
                    <p class="card-text">Current count</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="card metric-card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-user-plus me-2"></i>Blocked users
                    </h5>
                    <p class="card-text display-4">{{static.blockedUsersAmount}}</p>
                    <p class="card-text">Restricted Access</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="card metric-card bg-warning text-dark">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-smile me-2"></i>Satisfaction
                    </h5>
                    <p class="card-text display-4">4.7</p>
                    <p class="card-text">Average rating (out of 5)</p>
                </div>
            </div>
        </div>
    </div>
</div>
