<div class="welcome-section text-center">
    <p class="welcome-text welcome-name">Welcome back, {{userName}}</p>
    <p class="welcome-text welcome-role">You are logged in as {{role}}!</p>
</div>

<div class="main container-fluid">
    <div class="content d-flex justify-content-between ">
        <div class="mx-2">
            <app-employee-section *ngIf="role == 'Employee'" />
            <app-manager-section *ngIf="role == 'Manager'" />
            <app-admin-section *ngIf="role == 'Admin'" />
        </div>
        <div class="mx-2">
            <app-carousel />
        </div>
    </div>
</div>
