<div class="employee role-section mx-auto">
    <div class="tasks">
        <div class="brick changeRole">
            <a href="#">
                <img src="assets/tasks.png" alt="tasks">
                <p>My Tasks</p>
            </a>
        </div>
    </div>

    <div class="managers">
        <div class="brick changeRole">
            <a href="#">
                <img src="assets/tasks.png" alt="tasks">
                <p>Managers</p>
            </a>
        </div>
    </div>

    <div class="projects">
        <div class="brick changeRole">
            <a href="#">
                <img src="assets/projects.png" alt="projects">
                <p>My Projects</p>
            </a>
        </div>
    </div>
</div>