.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16vh;
    padding: 40px;
    width: 64vw;
}

.form-group {
    margin-bottom: 20px;
}

.main-text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-dark {
    width: 100%;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

@media (max-height:600px) {
    .container {
        margin-top: 0px;
    }
}