<div class="container">
    <h2 class="mb-4">Important Dates Calendar</h2>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="birthdays-tab" data-bs-toggle="tab" data-bs-target="#birthdays"
                        type="button" role="tab" aria-controls="birthdays" aria-selected="true">
                        <i class="fas fa-birthday-cake"></i> Hire dates
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="deadlines-tab" data-bs-toggle="tab" data-bs-target="#deadlines"
                        type="button" role="tab" aria-controls="deadlines" aria-selected="false">
                        <i class="fas fa-calendar-check"></i> Project Deadlines
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button"
                        role="tab" aria-controls="events" aria-selected="false">
                        <i class="fas fa-glass-cheers"></i> Corporate Events
                    </button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="birthdays" role="tabpanel" aria-labelledby="birthdays-tab">
                    <app-hire-days />
                </div>
                <div class="tab-pane fade" id="deadlines" role="tabpanel" aria-labelledby="deadlines-tab">
                    <app-projects />

                </div>
                <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                    <app-events />
                </div>
            </div>
        </div>
    </div>
</div>