<div class="manager role-section mx-auto">
    <div class="brick createProject">
        <a href="#">
            <img src="assets/createProject.png" alt="create project">
            <p>Create Project</p>
        </a>
    </div>

    <div class="brick addTask">
        <a href="#">
            <img src="assets/addTask.png" alt="add task">
            <p>Add Task</p>
        </a>
    </div>

    <div class="brick addEmployee">
        <a href="#">
            <img src="assets/addEmployee.png" alt="add employee">
            <p>Add Employee</p>
        </a>
    </div>
</div>