<div class="manager role-section mx-auto">
    <div class="createProject">
        <div class="brick changeRole">
            <a href="#">
                <img src="assets/createProject.png" alt="create project">
                <p>Create Project</p>
            </a>
        </div>
    </div>

    <div class="addTask">
        <div class="brick changeRole">
            <a href="#">
                <img src="assets/addTask.png" alt="add task">
                <p>Add Task</p>
            </a>
        </div>
    </div>

    <div class="addEmployee">
        <div class="brick changeRole">
            <a href="#">
                <img src="assets/addEmployee.png" alt="add employee">
                <p>Add Employee</p>
            </a>
        </div>
    </div>
</div>