<div class="admin role-section mx-auto">
    <div class="brick employees">
        <a href="#">
            <img src="assets/employees.png" alt="employees">
            <p>List of Employees</p>
        </a>
    </div>

    <div class="brick managers">
        <a href="">
            <img src="assets/managersAdmin.png" alt="managers">
            <p>List of Managers</p>
        </a>
    </div>

    <div class="brick projects">
        <a href="">
            <img src="assets/projects.png" alt="projects">
            <p>List of Projects</p>
        </a>
    </div>

    <div class="brick changeRole">
        <a href="#">
            <img src="assets/changeRole.png" alt="change role">
            <p>Role change requests</p>
        </a>
    </div>
</div>