<div class="cards d-flex justify-content-between my-5">
    <div class="card mx-auto">
        <img src="assets/Efficiency.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Efficiency</h5>
            <p class="card-text">We strive to maximize productivity and minimize waste. Every action should lead to
                optimized outcomes while conserving resources.</p>
        </div>
    </div>

    <div class="card mx-auto">
        <img src="assets/Transparency.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Transparency</h5>
            <p class="card-text">We believe in clear communication and openness. Every process and decision should be
                easily understood and accessible to build trust and accountability.</p>
        </div>
    </div>

    <div class="card mx-auto">
        <img src="assets/monitoring.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Performance Monitoring</h5>
            <p class="card-text">Continuous assessment is key to success. We emphasize the importance of measuring
                outcomes and refining strategies based on data-driven insights.</p>
        </div>
    </div>
</div>