<div class="cards d-flex justify-content-between my-5">
    <div class="card mx-auto">
        <img src="assets/Efficiency.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Efficiency</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card mx-auto">
        <img src="assets/Transparency.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Transparency</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card mx-auto">
        <img src="assets/monitoring.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Performance Monitoring</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>